*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: pink;
}

header {
  background-color: rgb(236, 93, 229);
  padding: 20px 40px;
}
header h1{
  margin-bottom: 10px;
}

header p span {
  background-color: rgb(2, 2, 2);
  color: rgb(245, 120, 220);
  padding: 3px 5px;
  border-radius: 5px;
}

.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.producto {
  border: 0.7px solid rgb(13, 174, 238);
  padding: 20px;
  width: 33%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.producto img{
  width: 200px;
  padding-left: 80px;
  width:70%;
  
}
.producto h5{
  text-align: center;
}

.producto h5 span{
  background-color: rgb(255, 178, 178);
  padding: 3px;
  font-weight: lighter;
  color: rgb(221, 2, 49);
  border-radius: 3px;
}
.producto button{
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
  background: rgb(236, 93, 229);
  border: none;
  border-radius: 15px;
padding: 10px 20px;
}
.producto button out {
    padding: 10px;
    background: rgb(206, 203, 203) ;
    border: none;
    cursor: not-allowed;
    font-size: 15px;
    color: rgb(122, 113, 100);
    font-weight: bold;
}
